* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.5 Roboto, sans-serif;
}



.header {
  display: flex;
  border-radius: 25% 10%;
  justify-content: space-between;
  align-items: center;
  width: 1700px;
  height: 100px;
  margin: 1% auto;
  padding: 1%;
  background: linear-gradient(to right, #00caca 0%, #f5edd6 90%);

  .menu-link {
    display: flex;
    //height: 20px;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    font: 25px "Roboto Light";
    color: #00caca;
    transition: color .5s ease;
    text-decoration: none;

    &:hover {
      color: #00caca;
    }
  }

  .menu {
    display: flex;
    padding-right: 20px;
  }
}

.icon {
  color: #00caca;
  font-size: 35px;
}

.logo {
  display: flex;
  height: 100%;
  align-items: center;
  color: #f5edd6;
  padding-left: 50px;
  padding-top: 30px;


  h1 {
    font: 70px/0.5 Style Script, cursive;
  }
}

.head-l {
  bottom: 0;
  right: 0;
  width: 50px;
  //transform: rotate(-90deg) translateY(100%);
  //transform-origin: left bottom;
  //height: 60px;
  position: fixed;
  text-align: center;
  font-size: 60px;
  //padding-top: 30px;
  z-index: 5;
}

.just-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.linker:link, .linker:visited {
  font-size: 33px;
  color: #00caca;
  text-decoration: none;

}

.boxpage {
  display: flex;
  flex-wrap: wrap;
  width: 1700px;
  margin: 0 auto;

  .col {
    width: 24%;
    padding: 0 10px;
    margin: 20px 0 0 0;

    .item {
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.50);
      margin-bottom: 20px;
      background-color: #f5edd6;
      transition: box-shadow 0.3s ease;
      border-radius: 30px;

      img {
        display: block;
        width: 70%;
        height: auto;
        border-radius: 10px;
        margin: 0 auto;
        box-shadow: 0 10px 30px 0 rgba(0,0,0, 0.50);
      }
    }

    .item_desc {
      padding: 20px;
    }

    .item_heading {
      font-size: 18px;
      font-weight: 700;
      color: #f44336;
      margin-bottom: 15px;
    }

    .item_text {
      font-size: 15px;
      color: #131313;
      margin-bottom: 15px;
    }

    .item_tags {
      display: flex;
      flex-wrap: wrap;
    }

    .item_tag {
      font-size: 15px;
      font-weight: 500;
      color: darkorange;
      margin: 0 10px 10px 0;
    }

    .item:hover {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
  .boxpage {
    max-width: 1200px;
    margin: 0 auto;

  }
  .header {
    width: 1200px;
  }
}

@media only screen and (max-width: 1190px) and (min-width: 820px) {
  .boxpage {
    max-width: 800px;
    margin: 0 auto;

    .col {
      width: 48%;
    }
  }
  .header {
    width: 800px;
  }
}

@media only screen and (max-width: 819px) and (min-width: 600px) {
  .boxpage {
    max-width: 600px;
    margin: 0 auto;

    .col {
      width: 90%;
    }
  }
  .header {
    width: 600px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 320px) {
  .boxpage {
    max-width: 320px;
    margin: 0 auto;

    .col {
      width: 90%;
    }
  }
  .header {
    width: 320px;
  }
}