/*@media only screen and (min-width: 1500px) and (max-width: 1750px) {
    .container {
        max-width: 1500px;
        margin: 0 auto;

    }

    .container .col {
        width: 18%;
    }
    .container .col .item_desc {
        padding: 10px;
    }

    .container .col .item_heading {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .container .col .item_text {
        font-size: 10px;
        color: darkred;
        margin-bottom: 10px;
    }
    .container .col .item_tags {
        display: flex;
        flex-wrap: wrap;
    }
    .container .col .item_tag {
        font-size: 12px;
        font-weight: 500;
    }
}*/

@media only screen and (max-width: 1799px) and (min-width: 1700px) {
    .container {
        max-width: 1600px;
        margin: 0 auto;

    }
    header {
        width: 1600px;
    }
}


@media only screen and (max-width: 1699px) and (min-width: 1500px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;

    }

    .header {
        width: 1400px;
    }

    .head-r {
        padding-top: 10px;
    }
}
@media only screen and (max-width: 1499px) and (min-width: 1390px) {
    .container {
        max-width: 1300px;
        margin: 0 auto;
    }

    .header {
        width: 1300px;
    }

    .head-r {
        padding-top: 10px;
    }

    .container .col {
        width: 20%;
        padding: 0 5px;
    }

    .container .col .item_heading {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1389px) and (min-width: 1200px) {
    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .header {
        width: 1100px;
        margin: 0 auto;
    }

    .head-r {
        padding-top: 10px;
    }

    .menu {
        margin-left: 5px;
    }

    .menu-link {
        height: 40px;
        padding: 0 5px;
        font: 15px/1.25 Style Script, cursive;
    }

    .container .col {
        width: 20%;
        padding: 0 5px;
    }

    .container .col .item_heading {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .container .col .item_text {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .container .col .item_tag {
        font-size: 10px;
        font-weight: 300;
        margin: 0 5px 5px 0;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1000px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .header {
        width: 900px;
    }

    .menu {
        margin-left: 5px;
    }

    .menu-link {
        height: 40px;
        padding: 0 5px;
        font: 15px/1.25 Style Script, cursive;
    }

    .head-r {
        padding-top: 10px;
    }

    .container .col1 {
        width: 45%;
        padding: 0 5px;
    }

    .container .col {
        width: 25%;
        padding: 0 5px;
    }

    .container .col .item_heading {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .container .col .item_text {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .container .col .item_tag {
        font-size: 10px;
        font-weight: 300;
        margin: 0 5px 5px 0;
    }


}

@media only screen and (max-width: 999px) and (min-width: 800px) {
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .header {
        width: 800px;
    }

    .menu {
        margin-left: 5px;
    }

    .menu-link {
        height: 40px;
        padding: 0 5px;
        font: 15px/1.25 Style Script, cursive;
    }

    .head-r {
        padding-top: 10px;
    }

    .container .col1 {
        width: 100%;
        padding: 0 5px;
    }

    .container .col {
        width: 45%;
        padding: 0 5px;
    }

    .container .col .item_heading {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .container .col .item_text {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .container .col .item_tag {
        font-size: 12px;
        font-weight: 300;
        margin: 0 5px 5px 0;
    }


}

@media only screen and (max-width: 799px) and (min-width: 600px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
    }

    .header {
        width: 600px;
    }

    .menu {
        margin-left: 5px;
    }

    .menu-link {
        height: 40px;
        padding: 0 5px;
        font: 15px/1.25 Style Script, cursive;
    }

    .head-r {
        padding-top: 5px;
    }

    .container .col1 {
        width: 100%;
        padding: 0 5px;
    }

    .container .col {
        width: 45%;
        padding: 0 5px;
    }

    .container .col .item_heading {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .container .col .item_text {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .container .col .item_tag {
        font-size: 12px;
        font-weight: 300;
        margin: 0 5px 5px 0;
    }
    .logo h1 {
        font: 40px/0.5 Style Script, cursive;
    }

}

@media only screen and (max-width: 599px) and (min-width: 0) {

    .container {
        max-width: 320px;
        margin: 0 auto;
    }

    .head-r {
        display: none;
    }

    .header {
        width: 250px;
        height: 50px;
        margin: 2% auto;
    }

    .menu {
        display: none;
    }

    .menu-link {
        display: none;
    }

    .head-r {
        padding-top: 10px;
    }

    .logo {
        display: contents;
        height: 100%;
        padding-left: 5px;
        padding-top: 5px;
        z-index: 6;

    }

    .logo h1 {
        font: 40px/0.5 Style Script, cursive;
    }

    .container .col1 {
        width: 100%;
        padding: 0 5px;
        margin: 1px;
    }


    .container .col {
        width: 100%;
        padding: 0 5px;
        margin: 1px;
    }

    .container .col .item_heading {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .container .col .item_text {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .container .col .item_tag {
        font-size: 13px;
        font-weight: 300;
        margin: 0 5px 5px 0;
    }

    /* Контейнер навигации */
    .navbar {
        display: block;
        background-color: rgba(245, 245, 245, 0);
    }

    /* Ссылки в панели навигации */
    .navbar a {
        font: 12px/1 Style Script, cursive;
    }

    /* Кнопка выпадающего списка */
    .dropdown .dropbtn {
        font: 20px/0.5 Style Script, cursive;
    }
    /* Добавить красный цвет фона для ссылок на навигационную панель при наведении курсора */
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: white;
    }

    /* Выпадающее содержимое (скрыто по умолчанию) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fa89a3;
        min-width: 12px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 8;
    }

    /* Ссылки внутри выпадающего списка */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    /* Добавить серый цвет фона для выпадающих ссылок при наведении курсора */
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* Показать выпадающее меню при наведении курсора */
    .dropdown:hover .dropdown-content {
        display: block;


    }
}
/*459, 460-767, 768-1199, 1200*/