* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
  font: 16px/1.5 Roboto, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;

  .col {
    width: 33.3333%;
    padding: 0 10px;

    .item {
      box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
      margin-bottom: 20px;
      background-color: white;
      transition: box-shadow .3s ease;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
      &_desc {
        padding: 20px;
      }
      &_heading {
        font-size: 22px;
        font-weight: 700;
        color: #f44336;
        margin-bottom: 15px;
      }

      &_text {
        font-size: 15px;
        color: #131313;
        margin-bottom: 15px;

      }

      &_tags {
        display: flex;
        flex-wrap: wrap;

      }
      &_tag {
        font-size: 18px;
        font-weight: 500;
        color: darkorange;
        margin: 0 10px 10px 0;

      }

      &:hover {
        box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
      }
    }

  }

}


.flex-order {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.single-post {
  line-height: 1.4;
  font-size: 1.2857142857142858rem;
}