* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 Roboto, sans-serif;
    background-image: url("../images/mi1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/*.boxpage {
    //background-color: rgba(245, 245, 245, .8)

}*/

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1800px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, .8)
}

.container .col1 {
    width: 55%;
    margin: 20px 20px 0 20px;
    padding: 0 10px;
    background-color: white;
}

.container .col1 img {
    display: block;
    margin: 2%;
    padding: 1%;
    background: linear-gradient(to right, #ffd1dc 0%, #ffb8c9 100%);
    opacity: .9
}
.container .col {
    width: 20%;
    padding: 0 10px;
    margin: 20px 0 0 0;
}
.container .col .item {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: white;
    transition: box-shadow 0.3s ease;
}
.container .col .item img {
    display: block;
    width: 100%;
    height: auto;
}
.container .col .item_desc {
    padding: 20px;
}
.container .col .item_heading {
    font-size: 22px;
    font-weight: 700;
    color: #f44336;
    margin-bottom: 15px;
}
.container .col .item_text {
    font-size: 15px;
    color: #131313;
    margin-bottom: 15px;
}
.container .col .item_tags {
    display: flex;
    flex-wrap: wrap;
}
.container .col .item_tag {
    font-size: 18px;
    font-weight: 500;
    color: darkorange;
    margin: 0 10px 10px 0;
}
.container .col .item:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/*.boxfirstpage p {
    font: 18px/1.5 Roboto;
    color: #c36c7f;
    margin: 15px;
}

.boxfirstpage h1 {
    font: 30px/1.5 "Roboto Slab";
    font-style: oblique;
    color: #ce6179;
    margin: 15px;
}

.boxfirstpage img {
    display: block;
    margin: 2%;
    padding: 1%;
    background: linear-gradient(to right, #ffd1dc 0%, #ffb8c9 100%);
    opacity: .9

}*/




.menu-link {
    display: flex;
    height: 60px;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    font: 25px Roboto;
    color: #dc5371;
    transition: color .3s ease;
}

.menu-link:hover {
    color: #fa89a3;
}

.fontdate img {
    display: block;
    margin: 2%;
    padding: 1%;
    background: linear-gradient(to right, darkgrey 0%, #d9dad8 100%);
    opacity: .9

}

.boxpagechildren p {
    font: 18px/1.5 Roboto;
    color: darkblue;
    margin: 15px
}

.boxpagechildren h1 {
    font: 30px/1.5 Roboto;
    font-style: initial;
    color: #3CA1D9;
    margin: 15px;
    text-align: center;
}

.boxpagechildren h3 {
    font: 20px/1.5 Roboto;
    font-style: initial;
    color: darkblue;
    margin: 15px;
    background-color: lightblue;
    backdrop-filter: opacity(.3);
}

.boxpagechildren mark {
    background-color: skyblue;
}

.boxpagechildren img {
    flex-direction: row;
    margin: 15px;
    padding: 3px;
    background: linear-gradient(to right, skyblue 0%, dodgerblue 100%);
    opacity: .9

}

.content {
    padding: 30px 60px;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: 2%;
    padding: 1%;
    background: linear-gradient(to right, #ffd1dc 0%, #ffb8c9 90%);

}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    color: #fa89a3;
    padding-left: 50px;
    padding-top: 30px;
}

.logo h1 {
    font: 70px/0.5 Style Script, cursive;
}

.menu {
    display: flex;
    padding-right: 20px;
}



.head-r {
    top: 0;
    right: -100vh;
    width: 100vh;
    transform: rotate(90deg);
    transform-origin: top left;
    height: 60px;
    position: fixed;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    z-index: 5;
}

.head-l {
    bottom: 0;
    left: 0;
    width: 100vh;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: left bottom;
    height: 60px;
    position: fixed;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    z-index: 5;
}

.just-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.icon {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 5px;
}

.iconinmybodylove {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 5px;
}

.icon img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.4;
}

.linker:link, .linker:visited
{
    font-size: 33px;
    color: grey;
    text-decoration: none;
}

.linkers:hover {
    font-size: 22px;
    color: darkred;
}

.box {
    width: 30%;
    height: auto;
    margin: 50px auto 0;
    position: relative;
    overflow: hidden;
}
.box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.box-inner img {
    transition: all 0.4s ease-in-out;
}
.text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -40px;
    text-align: center;
    z-index: 2;
}
.text h2 {
    font-family: 'Forum', cursive;
    color: white;
    display: inline-block;
    font-size: 30px;
    line-height: 35px;
    font-weight: 200;
    text-transform: uppercase;
    border-width: 1px 0;
    border-color: rgba(255,255,255,0.5);
    border-style: solid;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.box:hover:before {
    opacity: 1;
}
.box:hover img {
    transform: scale(1.1);
}
.box:hover .text h2 {
    opacity: 1;
}



.fontdate p {
    font: 16px/1.5 "Roboto Thin", sans-serif;
    margin: 15px;
}

.h3date {
    color: black;
    background: blanchedalmond;
    padding: 5px 0 5px 20px;
}

.blockquote {
    width: 30%;
    float: right;
    padding: 10px;
    margin: 20px;
    border: thick double lightslategrey;
    border-radius: 10px;
    background-color: antiquewhite;

}

.blockquote p {
    color: #dc5371;
    font: 14px/1.5 "Roboto Condensed", sans-serif;
}

.blockquoteleft p {
    color: #dc5371;
    font: 14px/1.5 "Roboto Condensed", sans-serif;
}

.blockquoteleft {
    width: 30%;
    float: left;
    padding: 10px;
    margin: 20px;
    border: thick double lightslategrey;
    border-radius: 10px;
    background-color: antiquewhite;
}

blockquote { /*цитата*/
    margin: 15px;
    background: rgba(255, 244, 237, .3);
    padding: 40px;
    position: relative;
    text-align: center;
}

blockquote:before, blockquote:after {
    font-size: 45px;
    color: #3CA1D9;
    position: absolute;
    height: 2px;
    left: 40px;
    right: 40px;
    line-height: .5;
    background: linear-gradient(to right, #3CA1D9 45%, transparent 45%, transparent 55%, #3CA1D9 55%);
    font-family: serif;
}
blockquote:before {
    content: "\201C";
    top: 30px;
}
blockquote:after {
    content: "\201D";
    bottom: 30px;
}
blockquote footer {
    margin-bottom: 1em;
}
blockquote cite {
    font-style: italic; /*цитата*/
}

.blockquotechildren p {
    font: 14px/1.5 "Roboto Thin", sans-serif;
}

.blockquote-3 {
    position: relative;
    text-align: center;
    margin: 16px 16px 34px 16px;
    border: 4px solid #ffb8c9;
    border-radius: 20px;
}

.blockquote-3 p {
    font: 18px "Roboto Slab", sans-serif;
}
.blockquote-3:before,
.blockquote-3:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}
.blockquote-3:before {
    left: 30px;
    bottom: -32px;
    border: 16px solid;
    border-color: #ffb8c9 transparent transparent #ffb8c9;
}
.blockquote-3:after {
    left: 35px;
    bottom: -21px;
    border: 12px solid;
    border-color: #fff transparent transparent #fff;
}
.blockquote-3 cite {
    position: absolute;
    bottom: -28px;
    left: 62px;
    font-weight: bold;
    font: 15px Style Script, cursive;
    color: #ffd1dc;
}

.borderbody {
    border-style: dotted;
    border-color: #FF8C00;
    border-width: 5px;
}

.table {
    border-style: ridge;
    box-sizing: content-box;
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.table th {
    border: 4px solid grey;
}

.table td {
    border: 4px solid grey;
}

@media only screen and (min-width: 1800px) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1450px) and (max-width: 1799px) {
    .container {
        max-width: 1450px;
        margin: 0 auto;

    }
}

@media only screen and (max-width: 1449px) and (min-width: 1100px) {
    .container {
        max-width: 1099px;
        margin: 0 auto;

    }
}

@media only screen and (max-width: 1099px) and (min-width: 600px) {
    .container {
        max-width: 599px;
        margin: 0 auto;

    }
}

/*459, 460-767, 768-1199, 1200*/