* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 Roboto, sans-serif;
    background-image: url("../images/mi1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1700px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, .8)

}

.container .col1 {
    width: 55%;
    margin: 20px 20px 0 20px;
    padding: 0 10px;
    background-color: white;
    border-radius: 30px;
}

.container .col1 img {
    display: block;
    border-radius: 30px;
    margin: 2%;
    padding: 1%;
    background: linear-gradient(to right, #ffd1dc 0%, #ffb8c9 100%);
    opacity: .9
}
.container .col {
    width: 20%;
    padding: 0 10px;
    margin: 20px 0 0 0;
}
.container .col .item {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: white;
    transition: box-shadow 0.3s ease;
    border-radius: 30px;
}
.container .col .item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.container .col .item_desc {
    padding: 20px;
}
.container .col .item_heading {
    font-size: 18px;
    font-weight: 700;
    color: #f44336;
    margin-bottom: 15px;
}
.container .col .item_text {
    font-size: 15px;
    color: #131313;
    margin-bottom: 15px;
}
.container .col .item_tags {
    display: flex;
    flex-wrap: wrap;
}
.container .col .item_tag {
    font-size: 15px;
    font-weight: 500;
    color: darkorange;
    margin: 0 10px 10px 0;
}
.container .col .item:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    width: 1700px;
    height: 120px;
    margin: 1% auto;
    padding: 1%;
    background: linear-gradient(to right, #ffd1dc 0%, #ffb8c9 90%);

}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    color: #fa89a3;
    padding-left: 50px;
    padding-top: 30px;
}

.logo h1 {
    font: 70px/0.5 Style Script, cursive;
}

.menu-link {
    display: flex;
    height: 40px;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    font: 20px "Roboto Light";
    color: #fa89a3;
    transition: color .5s ease;
    background-color: #ffd1dc;
    border-radius: 30px;

}

.menu-link:hover {
    color: #dc5371;
}

.menu {
    display: flex;
    padding-right: 20px;
}

.head-r {
    top: 0;
    right: -100vh;
    width: 100vh;
    transform: rotate(90deg);
    transform-origin: top left;
    height: 60px;
    position: fixed;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    z-index: 5;
}

.head-l {
    bottom: 0;
    left: 0;
    width: 100vh;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: left bottom;
    height: 60px;
    position: fixed;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    z-index: 5;
}

.just-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.icon {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 5px;
}

.icon img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.4;
}

.linker:link, .linker:visited
{
    font-size: 33px;
    color: grey;
    text-decoration: none;
}

.linkers:hover {
    font-size: 22px;
    color: darkred;
}

.blockquote-3 {
    position: relative;
    text-align: center;
    margin: 16px 16px 34px 16px;
    border: 4px solid #ffb8c9;
    border-radius: 20px;
}

.blockquote-3 p {
    font: 18px "Roboto Slab", sans-serif;
}
.blockquote-3:before,
.blockquote-3:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}
.blockquote-3:before {
    left: 30px;
    bottom: -32px;
    border: 16px solid;
    border-color: #ffb8c9 transparent transparent #ffb8c9;
}
.blockquote-3:after {
    left: 35px;
    bottom: -21px;
    border: 12px solid;
    border-color: #fff transparent transparent #fff;
}
.blockquote-3 cite {
    position: absolute;
    bottom: -28px;
    left: 62px;
    font-weight: bold;
    font: 15px Style Script, cursive;
    color: #ffd1dc;
}


@media only screen and (min-width: 1365px) and (max-width: 1799px) {
    .container {
        max-width: 1365px;
        margin: 0 auto;

    }

    .container .col {
        width: 18%;
    }
    .container .col .item_desc {
        padding: 10px;
    }

    .container .col .item_heading {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .container .col .item_text {
        font-size: 10px;
        color: darkred;
        margin-bottom: 10px;
    }
    .container .col .item_tags {
        display: flex;
        flex-wrap: wrap;
    }
    .container .col .item_tag {
        font-size: 12px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 1364px) and (min-width: 1100px) {
    .container {
        max-width: 1099px;
        margin: 0 auto;

    }

    .container .col {
        width: 18%;
    }
    .container .col .item_desc {
        padding: 10px;
    }

    .container .col .item_heading {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .container .col .item_text {
        font-size: 10px;
        color: darkred;
        margin-bottom: 10px;
    }
    .container .col .item_tags {
        display: flex;
        flex-wrap: wrap;
    }
    .container .col .item_tag {
        font-size: 12px;
        font-weight: 500;
    }

}
@media only screen and (max-width: 1099px) and (min-width: 600px) {
    .container {
        max-width: 599px;
        margin: 0 auto;

    }


}

/*459, 460-767, 768-1199, 1200*/